@charset "UTF-8";
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

img {
  vertical-align: top;
}

html {
  font-size: 14px;
}

@font-face {
  font-family: "Outfit-Medium";
  src: url("../fonts/Outfit-Medium.woff2") format("woff2"), url("../fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Regular";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Medium";
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit-SemiBold";
  src: url("../fonts/Outfit-SemiBold.woff2") format("woff2"), url("../fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  background-color: #F7F9FC;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 48px;
  gap: 64px;
}
.info__span {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #79819A;
}
.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.info__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.info__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 4px;
}
.info__item {
  font-family: "DMSans-Medium", sans serif;
  font-weight: 500;
  font-size: 14px;
  color: #47516B;
  text-decoration: none;
  font-style: normal;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  font-family: "Outfit-Medium", sans-serif;
  font-weight: 500;
  color: #47516B;
}
.about__name {
  font-size: 32px;
  color: #2E2E48;
}
.about__profi {
  font-size: 24px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(164, 120, 232)), to(rgb(81, 108, 247)));
  background: linear-gradient(90deg, rgb(164, 120, 232), rgb(81, 108, 247));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__quote {
  font-size: 18px;
  margin-top: 24px;
  padding: 0px 24px;
  position: relative;
}
.about__quote::before {
  content: "“";
  color: #79819A;
  position: absolute;
  top: -3px;
  left: 0px;
  font-size: 32px;
}
.about__quote::after {
  content: "”";
  color: #79819A;
  position: absolute;
  font-size: 32px;
  top: 23px;
  right: 10px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  position: relative;
}
.contact::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: -32px;
  border: 1px solid #E2E6EE;
}
.contact__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #E2E6EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__svg {
  width: 25px;
  height: 20px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  position: relative;
}
.socials::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: -32px;
  border: 1px solid #E2E6EE;
}
.socials__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__icon_insta {
  background: radial-gradient(78% 78% at 50% 97%, rgba(140, 58, 170, 0) 71.354%, rgba(140, 58, 170, 0.2) 100%), radial-gradient(127% 127% at 6% 98%, rgb(250, 143, 33) 9%, rgb(216, 45, 126) 78%);
}
.socials__icon_dribbble {
  background: #EA4C89;
}
.socials__icon_twitter {
  background: #00ACEE;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}
.socials__icon_linkedin {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  background: #0077B5;
}
.socials__svg {
  width: 40px;
  height: 40px;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  position: relative;
}
.lang::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: -32px;
  border: 1px solid #E2E6EE;
}
.lang__icon {
  width: 32px;
  height: 24px;
}
.lang__svg {
  width: 100%;
  height: 100%;
}

.link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgb(164, 120, 232)), to(rgb(81, 108, 247)));
  background: linear-gradient(90deg, rgb(164, 120, 232), rgb(81, 108, 247));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  padding: 64px 48px 64px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
  position: relative;
}
.main__block {
  padding-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  position: relative;
}
.main__block::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-color: white;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 6px 24px 0px rgba(0, 0, 0, 0.04), 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 6px 24px 0px rgba(0, 0, 0, 0.04), 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.main__block::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #5531A7;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main::before {
  content: "";
  display: block;
  width: 1px;
  height: 82%;
  left: 48px;
  position: absolute;
  border: 1px solid #E2E6EE;
}

.title {
  font-family: "Outfit-Medium", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #2E2E48;
}

.experiens {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.experiens:hover::after {
  -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.experiens__list {
  padding: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.experiens__item {
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F7F9FC;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.experiens__item_now {
  border-radius: 8px 8px 0px 0px;
  background-color: #F8F2FC;
}
.experiens__item:hover {
  background-color: #F8F2FC;
}
.experiens__icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}
.experiens__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}
.experiens__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 4px;
}
.experiens__title {
  font-family: "Outfit-Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2E2E48;
}
.experiens__position {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #79819A;
}
.experiens__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.experiens__date {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #47516B;
}
.experiens__date_now {
  border-radius: 4px;
  background-color: #EFE2F9;
  color: #9251F7;
  display: block;
  width: 52px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
.experiens__region {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #79819A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.5px;
}
.experiens__svg {
  width: 10.5px;
  height: 13.5px;
}

.skills {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skills:hover::after {
  -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skills__content {
  padding: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.skills__svg {
  width: 12px;
  height: 12px;
}
.skills__name {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  min-width: 75px;
}
.skills__name_title {
  color: #2E2E48;
}
.skills__name_design {
  color: #9251F7;
}
.skills__name_dev {
  color: #516CF7;
}
.skills__name_col {
  grid-row: span 2;
}
.skills__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 17px;
  background-color: #F7F9FC;
  padding: 16px 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 8px 0px 0px 8px;
}
.skills__card:hover:not(.skills__card_name) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 120, 232, 0.1)), to(rgba(81, 108, 247, 0.1)));
  background: linear-gradient(90deg, rgba(164, 120, 232, 0.1), rgba(81, 108, 247, 0.1));
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skills__card_name {
  background-color: white;
  padding: 16px 0px;
  -ms-flex-preferred-size: 112px;
      flex-basis: 112px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.skills__card_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
  text-align: center;
  position: relative;
}
.skills__card_two::after {
  content: "";
  display: block;
  width: 1px;
  height: 65%;
  border: 1px solid #E2E6EE;
  position: absolute;
  left: 50%;
}
.skills__card_three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 17px;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
}
.skills__card_three::after {
  content: "";
  display: block;
  width: 1px;
  height: 65%;
  border: 1px solid #E2E6EE;
  position: absolute;
  left: 50%;
}
.skills__card_three::before {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  border: 1px solid #E2E6EE;
  position: absolute;
  left: 63%;
}

.list {
  list-style: inside;
}

.design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}
.design__icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #EFE2F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}
.dev__icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E1E7FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.education:hover::after {
  -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.education__content {
  padding: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.education__card {
  padding: 16px 24px;
  background-color: #F7F9FC;
  border-radius: 8px 0px 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.education__card:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 120, 232, 0.1)), to(rgba(81, 108, 247, 0.1)));
  background: linear-gradient(90deg, rgba(164, 120, 232, 0.1), rgba(81, 108, 247, 0.1));
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.education__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.education__title {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.education__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.education__text {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #2E2E48;
}
.education__date {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #79819A;
}

.latest-projects {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.latest-projects:hover::after {
  -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.latest-projects__content {
  padding: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.project {
  padding: 24px;
  background-color: #F7F9FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.project:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 120, 232, 0.1)), to(rgba(81, 108, 247, 0.1)));
  background: linear-gradient(90deg, rgba(164, 120, 232, 0.1), rgba(81, 108, 247, 0.1));
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.project__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.project__title {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2E2E48;
}
.project__desc {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #79819A;
}
.project__svg {
  width: 13px;
  height: 17px;
  z-index: 1;
}
.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16.5px;
  position: relative;
  font-family: "Outfit-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #516CF7;
  text-decoration: none;
}
.project__link::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E1E7FE;
  position: absolute;
  left: -6px;
}

.tools {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tools:hover::after {
  -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tools__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding: 0px 24px;
}
.tools__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  background-color: #F7F9FC;
  border-radius: 8px 0px 0px 0px;
  padding: 16px;
}
.tools__card:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 120, 232, 0.1)), to(rgba(81, 108, 247, 0.1)));
  background: linear-gradient(90deg, rgba(164, 120, 232, 0.1), rgba(81, 108, 247, 0.1));
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tools__title {
  margin-top: 8px;
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #2E2E48;
}
.tools__desc {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #79819A;
}

.foot {
  grid-column: span 2;
  height: 50px;
  align-self: end;
  padding: 0px 180px 0px 60px;
  color: white;
  background-color: #79819A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}
.foot__link {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.foot__link:hover {
  translate: 0px -5px;
}

.page {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}/*# sourceMappingURL=styles.css.map */