.head {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #F7F9FC;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px 48px;
    gap: 64px;
    &__span {
        font-family: 'DMSans-Regular', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #79819A;
    }
    &__block {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__contact {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__lang {
        display: flex;
        flex-direction: column-reverse;
        gap: 4px;
    }
    &__item {
        font-family: 'DMSans-Medium', sans serif;
        font-weight: 500;
        font-size: 14px;
        color: #47516B;
        text-decoration: none;
        font-style: normal;
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Outfit-Medium', sans-serif;
    font-weight: 500;
    color: #47516B;
    &__name {
        font-size: 32px;
        color: #2E2E48;
    }
    &__profi {
        font-size: 24px;
        background: linear-gradient(90.00deg, rgb(164, 120, 232),rgb(81, 108, 247));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__quote {
        font-size: 18px;
        margin-top: 24px;
        padding: 0px 24px;
        position: relative;
    }
    &__quote::before {
        content: '\201C';
        color: #79819A;
        position: absolute;
        top: -3px;
        left: 0px;
        font-size: 32px;
    }
    &__quote::after {
        content: '\201D';
        color: #79819A;
        position: absolute;
        font-size: 32px;
        top: 23px;
        right: 10px;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        top: -32px;
        border: 1px solid #E2E6EE;
    }
    &__icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #E2E6EE;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__svg {
        width: 25px;
        height: 20px;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        top: -32px;
        border: 1px solid #E2E6EE;
    }
    &__icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &_insta {
            background: radial-gradient(78.00% 78.00% at 50% 97%,rgba(140, 58, 170, 0) 71.354%,rgba(140, 58, 170, 0.2) 100%),radial-gradient(127.00% 127.00% at 6% 98%,rgb(250, 143, 33) 9%,rgb(216, 45, 126) 78%);
        }
        &_dribbble {
            background: #EA4C89;
        }
        &_twitter  {
            background: #00ACEE;
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .06);
        }
        &_linkedin {
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
            background: #0077B5;
        }
    }
    &__svg {
        width: 40px;
        height: 40px;
    }
}

.lang {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        top: -32px;
        border: 1px solid #E2E6EE;
    }
    &__icon {
        width: 32px;
        height: 24px;
    }
    &__svg {
        width: 100%;
        height: 100%;
    }
}

.link {
    transition: .3s;
    &:hover {
        background: linear-gradient(90.00deg, rgb(164, 120, 232),rgb(81, 108, 247));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}