.latest-projects {
    transition: .3s;
    &:hover::after {
        transform: scale(2.5);
        transition: .3s;
    }
    &__content {
        padding: 0px 24px;
        display: flex;
        gap: 8px;
    }
}

.project {
    padding: 24px;
    background-color: #F7F9FC;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &:hover {
        background: linear-gradient(90.00deg, rgb(164, 120, 232, .1),rgb(81, 108, 247, .1));
        transition: .3s;
    }
    &__info {
        display: flex;
        gap: 16px;
    }
    &__name {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__title {
        font-family: 'DMSans-Medium', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #2E2E48;
    }
    &__desc {
        font-family: 'DMSans-Regular', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #79819A;
    }
    &__svg {
        width: 13px;
        height: 17px;
        z-index: 1;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 16.5px;
        position: relative;
        font-family: 'Outfit-SemiBold', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #516CF7;
        text-decoration: none;
        &::before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #E1E7FE;
            position: absolute;
            left: -6px;
        }
    }
}