.skills {
    transition: .3s;
    &:hover::after {
        transform: scale(2.5);
        transition: .3s;
    }
    &__content {
        padding: 0px 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__svg {
        width: 12px;
        height: 12px;
    }
    &__name {
        font-family: 'DMSans-Medium', sans-serif;
        font-weight: 500;
        font-size: 14px;
        position: relative;
        min-width: 75px;
        &_title {
            color: #2E2E48;
        }
        &_design {
            color: #9251F7;
        }
        &_dev {
            color: #516CF7;   
        }
        &_col {
            grid-row: span 2;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 17px;
        background-color: #F7F9FC;
        padding: 16px 16px;
        flex-grow: 1;
        border-radius: 8px 0px 0px 8px;
        &:hover:not(.skills__card_name) {
            background: linear-gradient(90.00deg, rgb(164, 120, 232, .1),rgb(81, 108, 247, .1));
            transition: .3s;
        }
        &_name {
            background-color: white;
            padding: 16px 0px;
            flex-basis: 112px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        &_two {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-basis: 0px;
            text-align: center;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 1px;
                height: 65%;
                border: 1px solid #E2E6EE;
                position: absolute;
                left: 50%;
            }
        }
        &_three {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 17px;
            column-gap: 33px;
            text-align: center;
            align-items: center;
            position: relative;
            flex-basis: 0px;
            &::after {
                content: '';
                display: block;
                width: 1px;
                height: 65%;
                border: 1px solid #E2E6EE;
                position: absolute;
                left: 50%;
            }
            &::before {
                content: '';
                display: block;
                width: 25%;
                height: 1px;
                border: 1px solid #E2E6EE;
                position: absolute;
                left: 63%;
            }
        }
    }
}

.list {
    list-style: inside;
}

.design {
    display: flex;
    flex-direction: row;
    gap: 8px;
    &__icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #EFE2F9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dev {
    display: flex;
    flex-direction: row;
    gap: 8px;
    &__icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #E1E7FE;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}