/* Базовые стили */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin: 10px 0px 15px;
}

.select-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

label {
  font-size: 14px;
}

select {
  margin: 2px;
  padding: 4px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  /* max-width: 280px;
  min-width: 130px; */
  min-width: 330px;
}

option {
  width: 100%;
}

canvas {
  max-width: 100%;
}

#errorMessage {
  margin: 10px 0;
  color: red;
  text-align: center;
}

.chart-wrapper {
  position: relative;
  width: 100%;
  height: 500px; /* или 300px для мобильных */
}

#errorChart {
  width: 100% !important;
  height: 100% !important;
}

/* ✅ Мобильная адаптация */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 15px;
  }

  .select-container {
    gap: 5px;
    justify-content: space-between;
  }

  select {
    width: 100%;
    margin: 2px;
    padding: 4px;
    font-size: 14px;
  }

  h1 {
    font-size: 18px;
  }

  .chart-wrapper {
    height: 300px;
  }
}
